body {
    font-family: 'Roboto', sans-serif;
    background: #1c1c1c;
    color: #ffffff;
    overflow-x: hidden;
}

* {
    box-sizing: border-box;
    line-height: normal;
}

#game {
    margin: 10px;
}

img {
    width: 100%;
    display: block;
}



